body {
	background-color: dodgerblue;
}

.title {
	text-align: center;
	border-color: green;
	font-size: 50px;
}

.new-border {
	border: 2px solid black;

}

.top-nav {
	background-color: goldenrod;
	height: 45px;

}

.top-nav li{
	list-style-type: none;
	font-family: "Arial";
	display: inline-block;
	padding: 0 9px;
	margin: 10px 15px 0 15px;
	float: left;
	cursor: pointer;
}

.img-box {
	width: 30%;
	height: 50px;
	border: 2px dashed lime;
	display: inline-block;
	margin-right: 2%;
}
.text1{
	border-color: red;
	float: left;
	width: 45%;
}
.text2{
	border-color: orange;
	float: right;
	width: 45%;

}

.footer{
	border-color: aqua;
	clear: both;

}
