body {
	background-color: dodgerblue;
}

.new-border {
	border: 2px solid black;

}

.top-nav {
	background-color: goldenrod;
	height: 45px;

}

.top-nav li{
	list-style-type: none;
	font-family: "Arial";
	display: inline-block;
	padding: 0 9px;
	margin: 10px 15px 0 15px;
	float: left;
	cursor: pointer;
}